@media only screen and (max-width: 1200px) {
  header {
    height: 70vh;
  }
  .row {
    margin: 0 1.5rem;
  }
  .hero-text-box {
    width: 90%;
  }
}
@media only screen and (max-width: 1024px) {
  .mobile-menu span {
    display: block;
  }
  header {
    height: 60vh;
  }

  .main-nav {
    display: none;
  }
  html {
    font-size: 57%;
  }
  .client-photo {
    width: 100%;
    float: none;
    text-align: center;
  }

  .client-review {
    width: 100%;
    float: none;
    text-align: center;
  }
  .contact-section form {
    margin-top: 5rem;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .span_1_of_4 {
    width: 49.2%;
  }
  .span_1_of_4:nth-child(3) {
    margin-left: 0;
  }
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 768px) {
  .little-description {
    width: 100%;
    margin: 0;
  }

  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 55vh;
  }
  .span_1_of_4 {
    width: 100%;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  .testimonial-section .col:nth-child(3),
  .testimonial-section .col:nth-child(4) {
    margin-top: 4rem;
  }
}
