/* Basic Setup */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Titillium Web', sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
  font-size: 1.6rem;
}

ul li {
  list-style-type: none;
}

:focus {
  outline: 0;
}
/* heading */
h1 {
  font-size: 4.2rem;
  color: #fff;
}

/* .clearfix::after {
  content: '';
  display: table;
  clear: both;
  height: 0;
  visibility: hidden;
} solution for bottom padding not  showing up */

/* Reusable components */
.row {
  max-width: 114rem;
  margin: 0 auto;
}

section {
  padding: 8rem 0rem 6rem 0rem;
}

h2 {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

h2::after {
  content: '';
  display: block;
  height: 0.4rem;
  background: white;
  width: 8.5rem;
  margin: auto;
  margin-top: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2rem;
}

.box {
  padding: 1%;
}

.box p {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2rem;
}

/* paragraph */
.little-description {
  font-size: 1.8rem;
  width: 60%;
  margin-left: 20%;
  line-height: 3rem;
  text-transform: uppercase;
}

/* button */
.btn:link,
.btn:visited,
.btn {
  background: #333;
  border-bottom: 0.3rem solid #000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 6rem;
  border-radius: 3px;
  display: inline-block;
  margin-top: 4.5rem;
  font-size: 1.6rem;
}
/* header section */
header {
  background: -o-linear-gradient(
      rgba(135, 80, 156, 0.9),
      rgba(135, 80, 156, 0.9)
    ),
    url(./bg-image/bg1.jpg);
  background: -o-linear-gradient(
      rgba(135, 80, 156, 0.9),
      rgba(135, 80, 156, 0.9)
    ),
    url(./bg-image/bg1.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(135, 80, 156, 0.9)),
      to(rgba(135, 80, 156, 0.9))
    ),
    url(./bg-image/bg1.jpg);
  background: linear-gradient(rgba(135, 80, 156, 0.9), rgba(135, 80, 156, 0.9)),
    url(./bg-image/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-center;
  background-attachment: fixed;
  height: 85vh;
  position: relative;
}
.logo {
  height: 3.5rem;
  width: auto;
  margin-top: 3.5rem;
  float: left;
}

.hero-text-box {
  width: 114rem;
}

/* main navigation */
.main-nav {
  float: right;
  margin-top: 4rem;
}
.main-nav li {
  display: inline-block;
  margin-left: 3rem;
}
.main-nav li:first-child {
  margin-left: 0px;
}
.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(100, 58, 121, 0);
  padding: 0.6rem 1.6rem;
  display: inline-block;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
  background-color: rgba(100, 58, 121, 1);
}

.main-nav li a.active {
  background-color: rgba(100, 58, 121, 1);
}

/* sticky navigation */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(135, 80, 155, 0.9);
  padding: 1rem 0;
  -webkit-box-shadow: 0 0.2rem 0.5rem rgba(255, 255, 255, 0.9);
  box-shadow: 0 0.2rem 0.5rem rgba(255, 255, 255, 0.9);
  z-index: 999;
}
.sticky .logo {
  margin-top: 0.5rem;
}

.sticky .main-nav {
  margin-top: 1rem;
}
/* mobile menu */
.mobile-menu span {
  color: #fff;
  font-size: 4rem;
  float: right;
  margin-top: 2rem;
  display: none;
  cursor: pointer;
}

.overlay {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
}

.overlay a {
  text-decoration: none;
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #999;
  padding: 1rem 0rem;
}

.overlay a:hover {
  color: #fff;
}

.overlay .close-btn {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 6rem;
}

.sticky .mobile-menu span {
  margin-top: 0;
  line-height: 1;
}
.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn-hero:link,
.btn-hero:visited {
  background-color: #eb7d4b;
  border-color: #c86a46;
}

/* ================ */
/* services */
/* ================ */

.services-section {
  color: #ffffff;
  text-align: center;
  background: -o-linear-gradient(
      rgba(23, 194, 164, 0.9),
      rgba(23, 194, 164, 0.9)
    ),
    url(./bg-image/bg2.jpg);
  background: -o-linear-gradient(
      rgba(23, 194, 164, 0.9),
      rgba(23, 194, 164, 0.9)
    ),
    url(./bg-image/bg2.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(23, 194, 164, 0.9)),
      to(rgba(23, 194, 164, 0.9))
    ),
    url(./bg-image/bg2.jpg);
  background: linear-gradient(rgba(23, 194, 164, 0.9), rgba(23, 194, 164, 0.9)),
    url(./bg-image/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.services-section h2::after {
  background: #14a58c;
}

.services-icon {
  height: 12rem;
  margin: 4.5rem 0 3.5rem 0;
}

/* ================ */
/* team section */
/* ================ */
.team-section {
  color: #3c4761;
  text-align: center;
  background: -o-linear-gradient(
      rgba(231, 241, 248, 0.9),
      rgba(231, 241, 248, 0.9)
    ),
    url(./bg-image/bg3.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(231, 241, 248, 0.9)),
      to(rgba(231, 241, 248, 0.9))
    ),
    url(./bg-image/bg3.jpg);
  background: linear-gradient(
      rgba(231, 241, 248, 0.9),
      rgba(231, 241, 248, 0.9)
    ),
    url(./bg-image/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.team-section h2 {
  color: #3c4761;
}

.team-section h2::after {
  background-color: #9ab1c2;
}

.team-member {
  margin: 4.5rem 0 3.5rem 0;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

.role {
  color: #55c2e9;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 0.5rem;
  display: inline-block;
}

.social-link {
  margin-top: 2rem;
}

.social-link ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

.social-link ul li a:link {
  color: #fff;
}

.social-link ul li a:link i::before {
  background: #bdd1df;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 50%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.social-link ul li a:hover i::before {
  background: #393939;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* ================ */
/* skills section */
/* ================ */

/* animated circle */
svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0, 0, 0, 0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129;
  stroke-width: 10;
}

svg.radial-progress circle.incomplete {
  opacity: 0.25;
}

svg.radial-progress circle.complete {
  stroke-dasharray: 219.91148575129;
}

svg.radial-progress text {
  fill: #fff;
  text-anchor: middle;
}

/* end of animated circle */

.skills-section {
  color: #3c4761;
  text-align: center;
  background: -o-linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(./bg-image/bg5.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.8)),
      to(rgba(255, 255, 255, 0.8))
    ),
    url(./bg-image/bg5.jpg);
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(./bg-image/bg5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.skills-section h2 {
  color: #3c4761;
  text-transform: uppercase;
}

.skills-section h2::after {
  background: #e5c37f;
}

.skills-section .box {
  margin-top: 3.5rem;
}

svg.radial-progress circle {
  stroke-width: 5;
}

svg.radial-progress text {
  fill: #3c4761;
}

svg.web-design circle {
  stroke: #30bae7;
}

svg.html-css circle {
  stroke: #d74680;
}

svg.graphic-design circle {
  stroke: #15c7a8;
}

svg.ui-ux circle {
  stroke: #eb7d4b;
}

/* ================ */
/* portfolio section */
/* ================ */

.portfolio-section {
  color: #393939;
  text-align: center;
  background: -o-linear-gradient(
      rgba(255, 221, 153, 0.8),
      rgba(255, 221, 153, 0.8)
    ),
    url(./bg-image/bg4.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 221, 153, 0.8)),
      to(rgba(255, 221, 153, 0.8))
    ),
    url(./bg-image/bg4.jpg);
  background: linear-gradient(
      rgba(255, 221, 153, 0.8),
      rgba(255, 221, 153, 0.8)
    ),
    url(./bg-image/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.portfolio-section h2 {
  color: #393939;
}

.portfolio-section h2::after {
  background: #e5c37f;
}

.portfolio-filter {
  margin: 3.5rem 0;
}

.portfolio-filter button {
  background: #ebc985;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: #393939;
  text-transform: uppercase;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.portfolio-filter button:hover {
  -webkit-box-shadow: inset 0 0.3rem 0.5rem rgba(60, 71, 97, 0.5);
  box-shadow: inset 0 0.3rem 0.5rem rgba(60, 71, 97, 0.5);
}

.portfolio-image {
  width: 100%;
  height: auto;
}

.portfolio-section .col:nth-child(3) {
  margin-left: 0;
}

.portfolio-section .btn-load-more {
  background: #17c2a4;
  border-color: #14a58c;
}

.portfolio-section .mixitup-control-active {
  background: #ffffff;
}

/* ================ */
/* testimonial section */
/* ================ */

.testimonial-section {
  background: rgba(215, 70, 128, 0.9);
  color: #fff;
  text-align: center;
  background: -o-linear-gradient(
      rgba(215, 70, 128, 0.9),
      rgba(215, 70, 128, 0.9)
    ),
    url(./bg-image/bg6.jpg);
  background: -o-linear-gradient(
      rgba(215, 70, 128, 0.9),
      rgba(215, 70, 128, 0.9)
    ),
    url(./bg-image/bg6.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(215, 70, 128, 0.9)),
      to(rgba(215, 70, 128, 0.9))
    ),
    url(./bg-image/bg6.jpg);
  background: linear-gradient(rgba(215, 70, 128, 0.9), rgba(215, 70, 128, 0.9)),
    url(./bg-image/bg6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.testimonial-section h2::after {
  background: #b73c6d;
}

.testimonial-section .col:nth-child(3) {
  margin-left: 0;
}

.testimonial-section .col:nth-child(1),
.testimonial-section .col:nth-child(2) {
  margin-top: 3rem;
}

.testimonial-section .col:nth-child(3),
.testimonial-section .col:nth-child(4) {
  margin-top: 7rem;
}

.client-photo {
  width: 10rem;
  float: left;
}

.client-photo img {
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.client-review {
  width: 35rem;
  float: left;
  text-align: left;
}

.client-review p {
  font-size: 2.1rem;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 2rem;
}

.client-review .role {
  color: #ffdd99;
}

/* ================ */
/* contact section */
/* ================ */

.contact-section {
  background: rgba(60, 84, 153, 0.9);
  color: #fff;
  text-align: center;
  background: -o-linear-gradient(rgba(60, 84, 153, 0.9), rgba(60, 84, 153, 0.9)),
    url(./bg-image/bg7.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(60, 84, 153, 0.9)),
      to(rgba(60, 84, 153, 0.9))
    ),
    url(./bg-image/bg7.jpg);
  background: linear-gradient(rgba(60, 84, 153, 0.9), rgba(60, 84, 153, 0.9)),
    url(./bg-image/bg7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.contact-section h2::after {
  background: #273a71;
}

.contact-section form {
  margin-top: 5rem;
  width: 70%;
  margin: auto;
}

.contact-section input[type='text'],
.contact-section input[type='email'],
.contact-section textarea {
  background: #273a71;
  border: 0.1rem solid #273a71;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: #fff;
  margin: 0.5rem 0;
}

.contact-section textarea {
  height: 20rem;
}

.contact-section form::placeholder {
  color: #fff;
  opacity: 0.8;
}

.btn-submit {
  border: none;
  border-bottom: 0.3rem solid #299ec5;
  background: #30bae7;
}

.btn-submit:hover {
  cursor: pointer;
}

/* ================ */
/* footer section */
/* ================ */
.footer-section {
  background: #344b8e;
  padding: 3rem 0;
  text-align: center;
  border-top: 0.1rem solid rgb(255, 255, 255, 0.3);
}

.footer-section li {
  display: inline-block;
  margin: 0 2rem;
}
.footer-section li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  -moz-tab-size: 2.4rem;
  -o-tab-size: 2.4rem;
  tab-size: 2.4rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.footer-section li:hover a {
  color: #30bae7;
}
